@(message: String)(username: String)(password: String)
@import helper._
@main("Welcome to bitBay") {
	
	 <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
@message
<h4> Username:  </h4>
<h4> Password:  </h4>

@helper.form(routes.Application.recognize()){
	<input type="text" value="" id="username" name="username"/>
	<input type="password" value="" id="password" name="password"/>
	<input type="submit" value="Register" />
	 
	
}
}
